<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style2.css" />
    <style>
        input[type=button], input[type=submit], input[type=reset] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}

input[type=text],input[type=number] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
</style>
</head>
<body background="../static/apple.jpg">
<div align="center"><h1 style="color:red;font-family:'楷体'">延安苹果！感谢您的支持！祝您身体健康！</h1></div>
<div class="main">
    <form action="order" target="_blank" method="POST">
        <div class="input-name">
            <p><span style="color:black;font-family:'楷体'">老板，您订单的详细信息</span></p>
        </div>
        <div class="input-name">
            <p><span style="color:black;font-family:'楷体'">姓名:</span><span style="color:green;font-family:'楷体'">{{data.get('name')}}</span></p>
        </div>
        <div class="input-number">
            <p><span style="color:black;font-family:'楷体'">电话:</span><span style="color:green;font-family:'楷体'">{{data.get('phone')}}</span></p>
        </div>
        <div class="input-address">
            <p><span style="color:black;font-family:'楷体'">地址:</span><span style="color:green;font-family:'楷体'">{{data.get('address')}}</span></p>
        </div>
         <div class="form-group">
           <a class="btn BOX-S" align="center" style="color:green;font-family:'楷体'" href="/">继续游戏</a>
        </div>
        <div class="input-address">
            <p><span style="color:black;font-family:'楷体'">感谢您的支持，您的订单我们已经收到，稍后微信联系您，出现问题一切最终解释权归网站所有</span></p>
        </div>

  </form>
</div>

<script type="text/javascript">
		function cookie(name, value, time) {
		if (name) {
			if (value) {
				if (time) {
					var date = new Date();
					date.setTime(date.getTime() + 864e5 * time), time = date.toGMTString();
				}
				return document.cookie = name + "=" + escape(toStr(value)) + (time ? "; expires=" + time + (arguments[3] ? "; domain=" + arguments[3] + (arguments[4] ? "; path=" + arguments[4] + (arguments[5] ? "; secure" : "") : "") : "") : ""), !0;
			}
			return value = document.cookie.match("(?:^|;)\\s*" + name.replace(/([-.*+?^${}()|[\]\/\\])/g, "\\$1") + "=([^;]*)"), value = value && "string" == typeof value[1] ? unescape(value[1]) : !1, (/^(\{|\[).+\}|\]$/.test(value) || /^[0-9]+$/g.test(value)) && eval("value=" + value), value;
		}
		var data = {};
		value = document.cookie.replace(/\s/g, "").split(";");
		for (var i = 0; value.length > i; i++) name = value[i].split("="), name[1] && (data[name[0]] = unescape(name[1]));
		return data;
	}

	</script>
</body>
</html>