<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <style>
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}

input[type=text],input[type=number] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

</style>
</head>
<body background="../static/apple.jpg">
<div align="left"><h1><a style="color:white;font-family:'楷体'" href="/">返回首页</a></h1></div>
<div id="BuyRate" style="font-size:30px; color:#F00;font-family:'楷体';"  onClick="value()">
开奖了，点这里
</div>
<div align="center"><h3 style="color:white;font-family:'楷体';font-size:30px">请登记您的邮寄信息</h3></div>
<div class="main">
    <form action="order" target="_blank" method="POST">
        <div class="input-name">
            <input type="text" class="form-control" id="exampleInputName1" name="input-name" placeholder="请准确输入姓名">
        </div>
        <div class="input-number">
            <input type="number" class="form-control" id="exampleInputName2" name="input-number" placeholder="请准确输入手机号码">
        </div>
        <div class="input-address">
            <input type="text" class="form-control" id="address" name="input-address" placeholder="请准确输入邮寄地址">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" id="submit" placeholder="提交">
        </div>
  </form>
</div>

<script type="text/javascript">
		function cookie(name, value, time) {
		if (name) {
			if (value) {
				if (time) {
					var date = new Date();
					date.setTime(date.getTime() + 864e5 * time), time = date.toGMTString();
				}
				return document.cookie = name + "=" + escape(toStr(value)) + (time ? "; expires=" + time + (arguments[3] ? "; domain=" + arguments[3] + (arguments[4] ? "; path=" + arguments[4] + (arguments[5] ? "; secure" : "") : "") : "") : ""), !0;
			}
			return value = document.cookie.match("(?:^|;)\\s*" + name.replace(/([-.*+?^${}()|[\]\/\\])/g, "\\$1") + "=([^;]*)"), value = value && "string" == typeof value[1] ? unescape(value[1]) : !1, (/^(\{|\[).+\}|\]$/.test(value) || /^[0-9]+$/g.test(value)) && eval("value=" + value), value;
		}
		var data = {};
		value = document.cookie.replace(/\s/g, "").split(";");
		for (var i = 0; value.length > i; i++) name = value[i].split("="), name[1] && (data[name[0]] = unescape(name[1]));
		return data;
	}

	function value(){
	    var bast = cookie('bast-score');
	    var rate = ((100-bast/10)/100).toFixed(3);
	    if (rate<0.7) {
	        rate=0.7;
	    }
	    document.getElementById('BuyRate').innerHTML = '您最佳成绩&nbsp;&nbsp;'+bast +'&nbsp;&nbsp个苹果<br> 赢得折扣率&nbsp;&nbsp'+rate +'<br> 每箱原价&nbsp;&nbsp100元';
	}

	</script>
</body>
</html>